.main_logo{width: 100%;display: block;margin: 30px 0 30px;}
.login-register{background: #0c3c63;}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
	background-image: linear-gradient(#0c3c63, #0c3c63),
	linear-gradient(#e9edf2, #e9edf2);
}

.btn-info, .btn-info.disabled { background-color: #0c3c63; border: 1px solid #0c3c63; }
.btn-info:hover,
.btn-info.disabled:hover { background: #0c3c63; border: 1px solid #0c3c63; opacity: .6; }

#loginform label.error{font-size: 11px!important;color: red!important;}